<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.key"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. remont.airpodshop24.ru</name>

    <description>
        Программирование ключей
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/48a22e3ab483e4a95ca6d2f544f7b421.png" density="ldpi" />
        <icon src="res/android/icon/02656eea578e6d00003095b80215527f.png" density="mdpi" />
        <icon src="res/android/icon/e2c969e5b00ed713d573503e36516ea3.png" density="hdpi" />
        <icon src="res/android/icon/daf3152fbfec9f8d6aeab101a9b5d5f8.png" density="xhdpi" />
        <icon src="res/android/icon/60fbb45ced16ff389476df381d31a6d8.png" density="xxhdpi" />
        <icon src="res/android/icon/5a1445a7194c869a732dec88383f2bf3.png" density="xxxhdpi" />

        <splash src="res/android/screen/53452b8250b42b2f93c9cf75e66a49a3.png" density="port-hdpi"/>
        <splash src="res/android/screen/e5c52fd117ddeeca3a30e257c9f0c773.png" density="port-ldpi"/>
        <splash src="res/android/screen/ec8b399ccbace4b3ce70a0819d17c131.png" density="port-mdpi"/>
        <splash src="res/android/screen/cb42efb27f7dc2342cb9d0d8a0b8a9b9.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/9366cb8a09152341d2b4594c4bd1cc9e.png" width="180" height="180" />
        <icon src="res/ios/icon/ad1057a7da8151369a81537596bacfcf.png" width="60" height="60" />
        <icon src="res/ios/icon/4ba8d1fd5d794c7637c809781db0a574.png" width="120" height="120" />
        <icon src="res/ios/icon/42f0385f3ad1501436408c11a6e1d3b1.png" width="76" height="76" />
        <icon src="res/ios/icon/ab170e0aae16922b83a8fc03e518f8e1.png" width="152" height="152" />
        <icon src="res/ios/icon/a6a5df055c83f8ea936721ec9b175f5e.png" width="57" height="57" />
        <icon src="res/ios/icon/ba071596b1d1673142c7fa5295ef6e2c.png" width="114" height="114" />
        <icon src="res/ios/icon/c97e01d957741a9e8d2389b3eecd8391.png" width="72" height="72" />
        <icon src="res/ios/icon/994c3669a1daae08f45cf76feb4c3157.png" width="144" height="144" />
        <icon src="res/ios/icon/5bd3ebda9f2b1017ea0eef324383d113.png" width="167" height="167" />
        <icon src="res/ios/icon/36474f5c050fd18645b121061c4b258a.png" width="29" height="29" />
        <icon src="res/ios/icon/cbf349603a09a9e9cabfa175112bb077.png" width="58" height="58" />
        <icon src="res/ios/icon/daeb7bbdfa7c1ad98f37d0e83fb304c1.png" width="87" height="87" />
        <icon src="res/ios/icon/16097139d314891d288754040df00b4e.png" width="167" height="167" />

        <splash src="res/ios/screen/e760cbe4eec366b32bdf1282c1289784.png" />
        <splash src="res/ios/screen/930dda1721fa099da5742836c6141cdb.png" />
        <splash src="res/ios/screen/63f24fca83c69a35940ed3032865a2fe.png" />
        <splash src="res/ios/screen/17063b41c254bc68f8348a0d65c8f9dc.png" />
        <splash src="res/ios/screen/a8f381a0dddff17e0ccc014e854fbaeb.png" />
        <splash src="res/ios/screen/3887391a1d27def386aa49192ceeddf8.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/07e90bd7904bf53441d635ce0c3dcfe2.png" target="StoreLogo" />
        <icon src="res/windows/icon/6e4daba74c5a0a140aa377acde290c29.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/aa7ec287034c8998f9b1f56e0bb8cc92.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/65ea295330c6322e243b32c5f578ba5e.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/2935e8b33b9df137c7450cfd4b84eb7d.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/b76cdfab52c1a2adafab1e7d51e8513d.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/f55393881c645a8bb7272fe070ea3846.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/dbcac236d68dbc35916ae7627a10a03d.png" target="SplashScreen"/>
        <splash src="res/windows/screen/c987e7e5da013f7d791a5b13fd1aaf82.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>